/* styles2.css */

body, h1 {
    margin: 60px;
    padding: 0px;
}

.sayfa {
    width: 960px;
    margin: 10px auto;
}

#logo {
    float: left;
    color: rgb(17, 85, 112);
    font-size: 65px;
    font-family: "Bangers", sans-serif;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 30px;
}

a {
    font-size: 30px;
    color: rgb(156, 194, 217);
    text-decoration: none;
    margin-left: 420px;
}

i {
    font-size: 40px;
    color: aquamarine;
    margin-left: 500px;
}

.temizle {
    clear: both;
}

/* Additional styles for works.html */

body {
    background-repeat: repeat;
    background-size: cover;
    height: 2500px;
    background-color: #8B4513;
}

.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #2d65e8;
    color: rgb(94, 209, 234);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.icerik {
    position: relative;
    transition: transform 0.3s ease;
    padding-top: 200px; /* Düzenleme: Üstten boşluk ekleniyor */
    margin-bottom: 40px; /* Düzenleme: İçerikler arasında genel boşluk ekleniyor */
}

.icerik:hover {
    transform: scale(1.1);
}

.aciklama {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.icerik:hover .aciklama {
    display: block;
}
